<div class='row'>
  <div class='col-md-4 col-lg-4 thumbnail'>
    <div class='caption'>
      <h4>Le ricette più interessanti della settimana</h4>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="height: 200px">
        <%  @ricette_settimanali.each_with_index do |ricetta, idx| %>
          <div class="<%= "item " + ((idx == 0) ? 'active' : '')  %>" >
            <%= image_tag(ricetta.image, class: "img-thumbnail", style: "width: 100%; height: 200px; margin: auto") %>
            <div class="carousel-caption">
              <%= ricetta.name %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-arrow-left icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-arrow-right icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Autore</th>
        </tr>
      </thead>
      <tbody>
        <% @ricette_settimanali.each do |ricetta| %>
          <tr>
            <td><%= ricetta.name %></td>
            <td><%= ricetta.user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>   

  </div>

  <div class='col-md-4 col-lg-4 text-center'>
      <div class="thumbnail">
        <%= image_tag(@ricetta_della_settimana.image, class: "img-thumbnail", style: "width: 100%; height: 200px; margin: auto") %>
        <div class="caption">
          <h3>Ricetta della settimana</h3>
          <p>Questa settimana abbiamo scelto per voi ...</p>
          <p><%= @ricetta_della_settimana.description %></p>
          <p><%= link_to 'Vai alla ricetta', recipe_path(@ricetta_della_settimana), class: 'btn btn-primary' %> </p>
        </div>
      </div>
  </div>

  <div class='col-md-4 col-lg-4 text-center thumbnail'>
    <iframe width="320" height="200" src="http://www.youtube.com/embed/Ec_FPub4lpA" frameborder="0"></iframe>
    <iframe width="320" height="200" src="http://www.youtube.com/embed/WTOC-vqQSZ0" frameborder="0"></iframe>
  </div>

</div>

